body {
    font-family: Arial, sans-serif;
}

.container {
    max-width: 400px;
    margin: 50px auto;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input,
textarea {
    margin-bottom: 10px;
    padding: 5px;
}

button {
    padding: 10px;
    background-color: #596d22;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #7a9630;
}
